/* General styles */
body {
    margin: 100;
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.header {
    background-color: #333;
    overflow: hidden;
}

.header a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: overline;
}

.header a:hover {
    background-color: #f19cce;
    color: rgb(255, 255, 255);
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background 0.3s, transform 0.3s;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transform: scale(1.1);
}
