/* General styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2d2c2b; /* Change to your desired color */
}

.content-container {
    padding: 10px; /* Add padding to the container */
}

/* Header styles */
.header {
    background-color: #2d2c2b;
    overflow: hidden;
}

.header a {
    display: block;
    color: #6e6e6e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: overline;
}

.header a:hover {
    background-color: #f19cce;
    color: rgb(255, 255, 255);
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background 0.3s, transform 0.3s;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transform: scale(1.1);
}

/* .under-construction {
    display: flex;
    justify-content: center;
    margin-top: 10px;
} */

.static-image {
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    margin-top: 0 auto;
}

.responsive-image {
    width: 100%;
    max-width: 300px;
    height: auto;  
}
