<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <link rel="stylesheet" href="assets/css/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-video-container">
                <img src="assets/images/construction.png" class="static-image" width="100">
                Under Construction
                <img src="assets/images/construction.png" class="static-image" width="100">
            </div>
            <nav class="nav-bar">
                <a href="{{ "/" | relative_url }}" class="nav-link">Home</a>
                <a href="{{ "/about" | relative_url }}" class="nav-link">About</a>
                <a href="{{ "/portfolio" | relative_url }}" class="nav-link">Portfolio</a>
                <a href="{{ "/contact" | relative_url }}" class="nav-link">Contact</a>
            </nav>
        </header>
        <main class="content-wrapper">
            <div class="main-content">
                {{ content }}
            </div>
            <aside class="sidebar">
                <p> </p>
            </aside>
        </main>
    </div>
</body>
</html>





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <link rel="stylesheet" href="assets/css/css/styles.css">
</head>
<body>
    <div class ="wrapper">
        <div class ="content-container">
             <header class="header">
                 <nav class="nav-bar">
                    <a href="{{ "/" | relative_url }}" class="nav-link">Home</a>
                     <a href="{{ "/about" | relative_url }}" class="nav-link">About</a>
                    <a href="{{ "/portfolio" | relative_url }}" class="nav-link">Portfolio</a>
                    <a href="{{ "/contact" | relative_url }}" class="nav-link">Contact</a>
                 </nav>
                     <div class="header-video-container">
                        <video autoplay loop muted playsinline class="header-video">
                             <source src="{{ "assets/Under Construction.mp4" | relative_url }}" type="video/mp4">
                             RUT ROH!!! Your browser does not support the video tag.
                        </video>
                    </div>
            </header>
        </div>
         <main class="content-container">
            <div class ="container">
                <div class="grid container">
            {{ content }}
                </div>
            </div>
        </main>
    </div>
</body>
</html> -->
