<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ginaferguson.net </title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/css/styles.css">
    <link rel="icon" href="assets/images/ds9-favicon-white-bkgd.png" type="image/x-icon">

</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-video-container">
                <img src="{{ site.baseurl }}/assets/images/construction-transparent-final.png" class="header-wrenches">
                <p class="shadow-text">Under Construction<br></p>
                <p class="best-viewed-txt">Best viewed on desktop</p>
                <img src="{{ site.baseurl }}/assets/images/construction-transparent-final.png" class="header-wrenches">
            </div>
            <nav class="nav-bar">
                <a href="{{ "/" | relative_url }}" class="nav-link">Home</a>
                <a href="{{ "/about" | relative_url }}" class="nav-link">About</a>
                <a href="{{ "/portfolio" | relative_url }}" class="nav-link">Portfolio</a>
                <a href="{{ "/contact" | relative_url }}" class="nav-link">Contact</a>
            </nav>
        </header>
        <main class="content-wrapper">
            <div class="main-content">
                {{ content }}
            </div>
            <aside class="sidebar">
                {{ page.sidebar_content }}
            </aside>
        </main>
    </div>
</body>
</html>
