<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-video-container">
                <img src="aassets/images/construction-transparent-final.png" class="static-image" width="70" style="border-radius: 30%;">
                <div class="wrapper">
                    <p class="shadow-text">Under Construction</p>
                </div>
                <img src="assets/images/construction-transparent-final.png" class="static-image" width="70" style="border-radius: 30%;">
            </div>
            <nav class="nav-bar">
                <a href="{{ "/" | relative_url }}" class="nav-link">Home</a>
                <a href="{{ "/about" | relative_url }}" class="nav-link">About</a>
                <a href="{{ "/portfolio" | relative_url }}" class="nav-link">Portfolio</a>
                <a href="{{ "/contact" | relative_url }}" class="nav-link">Contact</a>
            </nav>
        </header>
        <main class="content-wrapper">
            <div class="main-content">
                {{ content }}
            </div>
            <aside class="sidebar">
                {{ page.sidebar_content }}
            </aside>
        </main>
    </div>
</body>
</html>
